# base
UNET_PROVIDER_SERVICE_ID=
UNET_PROVIDER_ORIGIN=
UNET_CONTROL_PLANE_URL=

# claim
UNET_PROVIDER_CLAIM_ID=
UNET_PROVIDER_CLAIM_CHALLENGE=
UNET_PROVIDER_CLAIM_TOKEN=

# login
UNET_PROVIDER_DATABASE_URL=
UNET_PROVIDER_SESSION_SECRET=

# issuer
UNET_ISSUER_ID=
UNET_ISSUER_KEY_ID=
UNET_ISSUER_PRIVATE_KEY_PEM=
UNET_ISSUER_PUBLIC_KEY_PEM=
UNET_ISSUER_CREDENTIAL_KEY_ID=
UNET_ISSUER_CREDENTIAL_PRIVATE_KEY_PEM=
UNET_ISSUER_CREDENTIAL_PUBLIC_KEY_PEM=
UNET_ISSUER_CREDENTIAL_PUBLIC_KEY_HASH=
UNET_ISSUER_LEDGER_KEY_ID=
UNET_ISSUER_LEDGER_PRIVATE_KEY=
UNET_ISSUER_LEDGER_ADDRESS=
UNET_ISSUER_LEDGER_KEY_EPOCH=

# domain_admin
UNET_DOMAIN_ADMIN_ISSUER_ID=
UNET_DOMAIN_ADMIN_KEY_ID=
UNET_DOMAIN_ADMIN_PRIVATE_KEY_PEM=
UNET_DOMAIN_ADMIN_PUBLIC_KEY_PEM=
UNET_DOMAIN_ADMIN_CREDENTIAL_KEY_ID=
UNET_DOMAIN_ADMIN_CREDENTIAL_PRIVATE_KEY_PEM=
UNET_DOMAIN_ADMIN_CREDENTIAL_PUBLIC_KEY_PEM=
UNET_DOMAIN_ADMIN_CREDENTIAL_PUBLIC_KEY_HASH=
UNET_DOMAIN_ADMIN_LEDGER_KEY_ID=
UNET_DOMAIN_ADMIN_LEDGER_PRIVATE_KEY=
UNET_DOMAIN_ADMIN_LEDGER_ADDRESS=
UNET_DOMAIN_ADMIN_LEDGER_KEY_EPOCH=

# ledger
LEDGER_V2_CHAIN_ID=
LEDGER_V2_CONTRACT_ADDRESS=
LEDGER_V2_ISSUER_REGISTRY_ADDRESS=
LEDGER_V2_READ_URL=
LEDGER_V2_RELAYER_URLS=

# messaging
UNET_MESSAGING_AUTOMATION_KEY=

# analytics
UNET_PROVIDER_METRICS_KEY=
